<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StripePublishableKey</key>
	<string>pk_live_51J2qDbFQ7R30RqjsyCXuC4QRtLYrPoH8B2ycKMhlBCO47mvR1jTA97usIWHdzYMcQ3iAkRVdIX6qQtziE5fofONI00SpVUmiJi</string>
</dict>
</plist>
