<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580014783798-t5sn80n2rhj8t1ra5kvvr3r2ab95png4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580014783798-t5sn80n2rhj8t1ra5kvvr3r2ab95png4</string>
	<key>API_KEY</key>
	<string>AIzaSyDuf9lvg7ak9_nKPlozCKrByY6SQR3vvB8</string>
	<key>GCM_SENDER_ID</key>
	<string>580014783798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rapidzz.AnyApp</string>
	<key>PROJECT_ID</key>
	<string>anytime-work</string>
	<key>STORAGE_BUCKET</key>
	<string>anytime-work.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580014783798:ios:4a75e0ff9be1c85c010797</string>
</dict>
</plist>